api:
  build:
    context: .
    dockerfile: TicketingSystem.Api/Dockerfile
  container_name: ticketing_api
  ports:
    - "8080:8080"
  environment:
    ASPNETCORE_ENVIRONMENT: Development
    ASPNETCORE_URLS: http://+:8080
  depends_on:
    - sqlserver
